body {
  margin: 0px;
  background-color: #424242;
  overflow: hidden;
}

.navbar {
  background-color: #212529;
  height: 90px;
  display: flex;
}

.control {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  height: 80px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

.sidebar-icon-contianer {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

.sidebar {
  border-top: 1px solid red;
  height: calc(100vh - 90px);
  width: 280px;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  background-color: #212529;
  margin-top: 90px;
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(auto-fit, 70px);
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dedede;
}

.tool {
  position: relative;
  width: 40px;
  height: 40px;
}

.tip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  cursor: default;
}

.tool .tip {
  width: 40px;
  padding: 2.5px;
  margin-left: -22.5px;
}

.tool:hover .tip, .live:hover .tip {
  visibility: visible;
}

.tool-icon {
  color: red;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #424242;
  border-radius: 20%;
}

.livelist {
  max-width: calc(100vw - 200px);
  width: calc(100vw - 200px);
  height: 90px;
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.live {
  width: 90px;
  position: relative;
}

.live .tip {
  width: 80px;
  padding: 5px;
  margin-left: -45px;
}

.image {
  border: 3px solid #212529;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: pointer;
  margin-left: 7px;
  margin-top: 7px;
}

.image:hover {
  box-shadow: 0 0 1em red;
}

.player-container {
  display: grid;
  padding: 5px;
}

.player {
  border: 0px;
}

.organization-image-container {
  height: 70px;
  width: 270px;
  cursor: pointer;
}

.organization-image {
  position: relative;
}

.organization-image:hover {
  opacity: 0.3;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 50vw;
  height: 50vh;
  position: absolute;
  background-color: #8b8181;
  box-shadow: 0 0 1em red;
  border-radius: 10px;
}
