body {
  margin: 0px;
  background-color: #424242;
  overflow: hidden;
}

.navbar {
  background-color: #212529;
  height: 90px;
  display: flex;
}

.control {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  height: 80px;
  display: grid;
  grid-auto-flow: column;
  column-gap: 5px;
}

.sidebar-icon-container {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
  align-self: center;
}

.sidebar {
  background-color: rgb(21, 25, 29);
}

.sidebar, .schedule {
  height: calc(100vh - 90px);
  width: 280px;
  overflow-y: auto;
  position: fixed;
  top: 90px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #dedede;
}

.tool {
  position: relative;
  width: 40px;
  height: 40px;
}

.tip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  cursor: default;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tool .tip {
  width: 40px;
  padding: 2.5px;
  margin-left: -22.5px;
  font-size: small;
}

.tool:hover .tip, .live:hover .tip {
  visibility: visible;
}

.tool-icon {
  color: red;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: #424242;
  border-radius: 20%;
}

.livelist {
  max-width: calc(100vw - 200px);
  height: 90px;
  display: flex;
}

.live {
  width: 90px;
  position: relative;
}

.live .tip {
  width: 80px;
  padding: 5px;
  margin-left: -45px;
}

.image {
  border: 3px solid #212529;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  cursor: pointer;
  margin-left: 7px;
  margin-top: 7px;
}

.image:hover {
  box-shadow: 0 0 1em red;
}

.player-container {
  display: grid;
  padding: 5px;
}

.player {
  border: 0px;
}

.organization-container, .schedule-container {
  height: 70px;
  width: 270px;
  cursor: pointer;
  background-color: rgb(21, 25, 29);
}

.organization-image {
  position: relative;
}

.organization-image:hover, .schedule-text:hover, .schedule-title:hover {
  opacity: 0.3;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 50vw;
  max-width: 700px;
  height: 50vh;
  max-height: 700px;
  position: relative;
  background-color: #8b8181;
  box-shadow: 0 0 1em red;
  border-radius: 10px;
  outline: none;
}

.form {
  width: 90%;
  max-width: 500px;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-text {
  font-size: larger;
  outline: none;
  background-color: #8b8181;
  border: 0px;
  border-bottom: 2px solid #40c4ff;
}

.input-text::placeholder {
  opacity: 0.5;
  color: black;
}

.form-btn {
  opacity: 0.5;
  margin-left: auto;
}

.btn-enable {
  color: #40c4ff;
  opacity: 1;
  cursor: pointer;
}

.close {
  color: red;
  margin-left: auto;
  cursor: pointer;
  min-width: 40px;
}

.player-control-panel {
  max-height: 90%;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 400px));
  gap: 5px;
  align-self: center;
  overflow-y: scroll;
  overflow-x: hidden;
}

.item-container {
  height: 50px;
  display: flex;
  gap: 10px;
  background-color: #212121;
  border-radius: 5px;
  align-items: center;
}

.item-move {
  cursor: move;
  min-width: 40px;
}

.item-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.item-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: medium;
  color: gray;
  display: block;
}

.schedule {
  left: 280px;
}

.schedule-container {
  display: flex;
  gap: 10px;
}

.schedule-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.schedule-text {
  width: 200px;
  margin-top: 10px;
}

.schedule-info-container {
  position: absolute;
  top: 90px;
  left: 560px;
  width: 400px;
  background-color: rgb(21, 25, 29);
  border-radius: 10px;
  cursor: pointer;
}

.schedule-thumbnail {
  margin: auto;
  margin-top: 10px;
  display: block;
}

.schedule-title {
  text-align: center;
  margin: 10px;
  white-space: normal;
}
