body {
  margin: 0px;
  height: 100vh;
  background-color: #424242;
  overflow: hidden;
}

.navbar {
  background-color: #212529;
  height: 90px;
  display: flex;
}

.control {
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 5px;
  display: flex;
  z-index: 1;
}

.sidebar {
  height: 100vh;
  width: 280px;
  position: fixed;
  z-index: 3;
  background-color: #212529;
}

.sidebar-icon {
  margin-left: 10px !important;
  margin-right: 10px;
  align-self: center;
  z-index: 2;
  cursor: pointer;
}

.main-sidebar {
  height: 90px;
  display: flex;
  border-bottom: 1px solid red;
}

.tool {
  position: relative;
  width: 45px;
  height: 45px;
}

.tip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  cursor: default;
}

.tool .tip {
  width: 40px;
  padding: 2.5px;
  margin-left: -22.5px;
}

.tool:hover .tip, .live:hover .tip {
  visibility: visible;
}

.tool-icon {
  color: red;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #424242;
  border-radius: 20%;
  margin-left: 3px;
}

.livelist {
  max-width: calc(100vw - 200px);
  height: 90px;
  display: flex;
}

.live {
  margin-left: 5px;
  width: 90px;
  position: relative;
}

.live .tip {
  width: 80px;
  padding: 5px;
  margin-left: -50px;
}

.image {
  border: 3px solid #212529;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 7px;
  cursor: pointer;
}

.image:hover {
  box-shadow: 0 0 1em #ff0000;
}

.players {
  display: grid;
  padding: 5px;
}

.player {
  border: 0px;
}

.organization-image {
  margin-top: 10px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
}

.organization-image:hover {
  opacity: 0.3;
}

.current {
  width: 200px;
  height: 50px;
  align-self: center;
}
